# Problem Set 2
## Question 1

In [1]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
a

6


First,value of a is set as 0 and it is declared as a global variable in function b()
1)b(): Inside this global a is assigned the value of 0 and function c is called where it returns c(a)=a + 2 i.e. 0+2 which is assigned to global variable a,so now the value of global variable a = 2.

2)b(): Now a=2 so in this function c(a)=a+2=2+2=4 which is assigned to global variable a,so now the value of global variable 
a = 4.

3)b(): Now a=4 Again in this value of global variable a changes to 4+2=6.

Therefore when the last expression (a) is evaluated,the final value of global variable a is 6.

## Question 2

In [2]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        return "file "+ file_name + " not found."
file_length('Filelength.txt')
file_length('iyterm.py')

123

'file iyterm.py not found.'

## Question 3

In [8]:
class Marsupial:

    def __init__(self):
        self.pouch=[]
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
print(m.pouch_contents())

class Kangaroo(Marsupial):
    
    def __init__(self, x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
        
    def jump(self, dx, dy):
        self.x+=dx
        self.x+=dy
        
    def __str__(self):
        return "I am a Kanagaroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())


k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

['doll', 'firetruck', 'kitten']
I am a Kanagaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagaroo located at coordinates (3,0)

## Question 4

In [9]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)
print('collatz(1)')        
collatz(1)
print('collatz(10)')
collatz(10)

collatz(1)
1
collatz(10)
10
5
16
8
4
2
1

## Question 5

In [25]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')
print("binary(0):")
binary(0)
print("\nbinary(1):")
binary(1)
print("\nbinary(3):")
binary(3)
print("\nbinary(9):")
binary(9)

binary(0):
0
binary(1):
1
binary(3):
11
binary(9):
1001

## Question 6

In [35]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    Headers = ["h1", "h2","h3","h4"]
    current = -1

    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.Headers:         
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.Headers[HeadingParser.current]:          
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)
            
infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles
  Shivam Shah:200544737

## Question 7

In [32]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin
# Create a subclass of HTMLParser for collecting URLs
class collect_url(HTMLParser):
    
#initialize the parser, the url, and a list
    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []


    def append(self):
        
        return self.url_links

# method for handling start tags in the HTML code
    def handle_starttag(self, url_tag, attributes):
        for a in attributes:
            ab = urljoin(self.url, a[1])
            if ab[:4] == 'http': 
                self.url_links.append(ab)
                i = 0
def webdir(url, depth, i):
   

    depth = depth - 1    
    print(i*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = collect_url(url)
    collection.feed(objective)
    urls = collection.append() 
 
    url_links = urls
    i= i + 4


    for link in url_links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)#recursively calling 
            
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

## Question 8

In [36]:
import sqlite3

#create the database if it does not exist
connection = sqlite3.connect('city_temperature_rainfall.db')
cur = connection.cursor()

#create Table
cur.execute("CREATE TABLE city_temperature_rainfall (City text, Country text, Season text, Temperature double, Rainfall double)")

#Insert Values
cur.execute("INSERT INTO city_temperature_rainfall VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO city_temperature_rainfall VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO city_temperature_rainfall VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")


cur.execute('SELECT * FROM city_temperature_rainfall')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### a)

In [40]:
#a)All the temperature data.
cur.execute('SELECT Temperature FROM city_temperature_rainfall')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

### b)

In [41]:
#b)All the cities, but without repetition
cur.execute('SELECT DISTINCT(City) FROM city_temperature_rainfall')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

### c)

In [43]:
#c)All the records for India
cur.execute('SELECT * FROM city_temperature_rainfall where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

### d)

In [45]:
#d)All the Fall records
cur.execute('SELECT * FROM city_temperature_rainfall where Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### e)

In [46]:
#e)The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cur.execute('SELECT City, Country, Season, AVG(Rainfall) FROM city_temperature_rainfall GROUP BY City, Country, Season HAVING AVG(Rainfall) >= 200 and AVG(Rainfall) <= 400')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

### f)

In [47]:
#f)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cur.execute('SELECT City, Country, AVG(Temperature) FROM city_temperature_rainfall where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

### g)

In [48]:
#g)The total annual rainfall for Cairo.
cur.execute('SELECT SUM(Rainfall) FROM city_temperature_rainfall WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

### h)

In [49]:
#h)The total rainfall for each season.
cur.execute('SELECT Season, SUM(Rainfall) FROM city_temperature_rainfall GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 9

In [52]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

### a)

In [54]:
#a
print([word.upper() for word in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### b)

In [55]:
#b 
print([word.lower() for word in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### c)

In [56]:
#c
print([len(word) for word in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### d)

In [59]:
print([[word.upper(), word.lower(), len(word)] for word in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

### e)

In [57]:
#e
print([word for word in words if len(word) >= 4])

['quick', 'brown', 'jumps', 'over', 'lazy']